body {
  background-color: #4d4c4c;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Ensures full viewport height */
  margin: 0;
  padding: 0;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 600px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #5d5d5d;
  /* margin: 200px; */
  /* gap: 10px; */
}
.shoe_image {
  width: 90%;
  height: 60%;
  object-fit: cover;
  border-radius: 10px;
}
.button-row {
  display: flex;
  justify-content: center;
  gap: 100px;
  border-radius: 10px;
  color: white;
}
.shoename,
.comingsoon {
  font-weight: bold;
  display: flex;
  justify-content: center;
  font-family: "Dhurjati";
  padding: 0;
  margin: 0;
}
.shoename {
  font-size: 40px;
}
.comingsoon {
  color: yellow;
  font-size: 25px;
}
.buttonadd, .buttonbuy{
    font-family: "Dhurjati";
    width: 100px;
    padding: 0;
    font-size: 20px;
    background-color: #0f0000;
    color: white;
}
